<!-- menu -->
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="menu-container">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <div matRipple fxLayout fxLayoutAlign="start center" (click)="onClickElement.emit(node)" 
          [attr.aria-label]="node.name" fxFlex [class]="node.class" class="item-button">           
          <button mat-icon-button disabled>
            <mat-icon>{{node.icon}}</mat-icon>
          </button>
          <span>{{node.name}}</span>
        </div>
      </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <div matTreeNodeToggle matRipple fxLayout fxLayoutAlign="start center" (click)="onClickElement.emit(node)" 
          [attr.aria-label]="node.name" fxFlex [class]="node.class" class="item-button">
          <button mat-icon-button disabled>
            <mat-icon>{{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}</mat-icon>
          </button>
          @if (isChild(node)) {
            <mat-icon>{{node.icon}}</mat-icon>
          }              
          <span>{{node.name}}</span>
        </div>
      </mat-tree-node>
    </mat-tree>