h3 {
    font-weight: 500;
}

.content-info {
    max-height: 88vh;
    overflow: auto;
    font-size: 12px;
}

.footer-content {
    height: 100%;
    padding: 24px;

    .info-total {
        font-size: 16px;
        font-weight: 500;        
    }
    
}