<mat-card>
    <mat-card-header>
        <mat-card-title>Proyectos PPI - ({{project().nombreCorto}})</mat-card-title>
    </mat-card-header>

    <!-- content -->
    <div fxLayout="column" class="container-padding-tables">
        <div class="table-wrapper">
            <table mat-table [dataSource]="data()" class="responsive-table">
                <!-- codigo -->
                <ng-container matColumnDef="codigo" sticky>
                    <th mat-header-cell *matHeaderCellDef> Código </th>
                    <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
                </ng-container>

                <!-- objeto -->
                <ng-container matColumnDef="objeto" sticky>
                    <th mat-header-cell *matHeaderCellDef> Objeto </th>
                    <td mat-cell *matCellDef="let element"> {{element.objeto}} </td>
                </ng-container>

                <!-- fecha inicio -->
                <ng-container matColumnDef="fechaInicio" sticky>
                    <th mat-header-cell *matHeaderCellDef> Fecha inicio </th>
                    <td mat-cell *matCellDef="let element"> {{element.fechaInicioContrato | date: 'yyyy-MM-dd'}} </td>
                </ng-container>

                <!-- modo -->
                <ng-container matColumnDef="fechaTerminacion" sticky>
                    <th mat-header-cell *matHeaderCellDef> Fecha terminación </th>
                    <td mat-cell *matCellDef="let element"> {{element.fechaTerminacionContrato | date: 'yyyy-MM-dd'}} </td>
                </ng-container>

                <!-- valorContrato -->
                <ng-container matColumnDef="valorContrato" sticky>
                    <th mat-header-cell *matHeaderCellDef> Valor </th>
                    <td mat-cell *matCellDef="let element"> {{element.valorContrato | currency:'COP':'symbol':'1.2-2':'es-CO'}} </td>
                </ng-container>

                <!-- menu -->
                <ng-container matColumnDef="actions" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef width="50px"></th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="update(element)">
                                <mat-icon>edit</mat-icon>
                                Editar
                            </button>
                            <button mat-menu-item (click)="listInvestment(element)">
                                <mat-icon>attach_money</mat-icon>
                                Hay necesidades de inversión?
                            </button>
                            <button mat-menu-item [routerLink]="['/upit/ppi/proyectos/contratos/' + element.idContrato + '/avances']">
                                <mat-icon>description</mat-icon>
                                Avances
                            </button>
                        </mat-menu>                       
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</mat-card>

<floating-button-component (click)="create()"></floating-button-component>