:root {
    //primary
    --color-primary1: #1772C2;
    --color-primary2: #0C3E69;

    //secondary
    --color-secondary1: #019C77;

    //tertiary
    --color-tertiary1: #D4733F;

    //global
    --color-global-govco: #3366CC;
    --color-neutral: #FFFFFF;
    --color-bg-app: #e8e8e8;
}