.chip-info {
    border-radius: 15px;
    border: 1px solid gray;
    background-color: rgb(231, 231, 231);
    padding: 15px;
}

.overload {
    border: 1px solid #f75151;
    color: white;
    background-color: #f75151;
}